.online-rooms-page-modal {
  // max-width: 90vw !important;
  .online-rooms-page-modal-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ant-tabs-tab {
      color: rgb(38, 166, 154) !important;
      font-size: 16px !important;
    }

    .ant-tabs-ink-bar {
      background-color: rgb(44, 62, 80) !important;
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: rgb(44, 62, 80) !important;
      }
    }

    .online-rooms-page-modal-tabs-back-buttons {
      display: flex;
      justify-content: space-between;
      width: 60px;
    }
  }

  .login-modal-form-buttons {
    justify-content: flex-start !important;
    flex-wrap: wrap;
    margin: -10px;

    .annouce-empty {
      height: 100px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;

      .annouce-empty-special {
        color: rgb(38, 166, 154);
      }
    }
  }
}
