.online-rooms-page-modal {
  .button-ant-customized {
    background-color: white;
    color: rgb(44, 62, 80);
    border: 1px solid rgba(44, 62, 80, 0.75);

    &:hover {
      background-color: rgba(44, 62, 80, 0.75);
      color: white;
      border: none;
      .medal-rank-img {
        color: rgb(44, 62, 80);
      }
    }

    &:focus {
      background-color: white;
      color: rgb(44, 62, 80);
      .medal-rank-img {
        color: rgb(44, 62, 80);
      }
    }

    &:active {
      background-color: rgba(44, 62, 80);
      color: white;
      border: none;
      .medal-rank-img {
        color: rgb(44, 62, 80);
      }
    }
  }

  .playing-room {
    .button-ant-customized {
      background-color: white;
      color: rgb(44, 62, 80);
      border: 1px solid rgba(44, 62, 80, 0.75);
      cursor: not-allowed;

      &:hover {
        background-color: white;
        color: rgb(44, 62, 80);
        border: 1px solid rgba(44, 62, 80, 0.75);
        .medal-rank-img {
          color: rgb(44, 62, 80);
        }
      }

      &:focus {
        background-color: white;
        color: rgb(44, 62, 80);
        border: 1px solid rgba(44, 62, 80, 0.75);
        .medal-rank-img {
          color: rgb(44, 62, 80);
        }
      }

      &:active {
        background-color: white;
        color: rgb(44, 62, 80);
        border: 1px solid rgba(44, 62, 80, 0.75);
        .medal-rank-img {
          color: rgb(44, 62, 80);
        }
      }
    }
  }

  .button-with-image-img {
    margin-bottom: 5px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button-with-image-img-vs {
      margin-bottom: 40px;
    }
  }

  .online-room-buttom {
    margin: 10px;
  }
}
