.button-with-image-img-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;

  .button-with-image-img-avatar {
    position: relative;
    img {
      background-color: white;
      border: 1px solid rgba(38, 166, 154, 0.5) !important;
      width: 70px !important;
      height: 70px !important;
      border-radius: 50%;
      object-fit: cover;
    }

    .medal-rank {
      position: absolute;
      top: -5px;
      right: -5px;
      .medal-rank-img {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: white;
        border: 1px solid rgba(38, 166, 154, 0.5) !important;
        width: 30px;
        height: 30px;
        border-radius: 50%;

        .medal-rank-img-detail {
          margin-bottom: 3px;
          font-size: 16px;
          line-height: 16px;
          img {
            border: none !important;
            width: 12px !important;
            height: 12px !important;
          }
        }
      }
    }
    .medal-rank-1 {
      left: -5px;
    }
  }

  .button-with-image-img-username {
    margin-top: 5px;
    height: 22px;
  }

  .button-with-image-img-current-won {
    font-size: 20px;
    height: 32px;
  }
}
