.input-ant-customized-container {
  .input-ant-customized {
    border-radius: 10px;
    height: 40px;
    color: #2c3e50;

    &:hover {
      border-color: #26a69a !important;
    }

    &:focus {
      border-color: #26a69a !important;
      box-shadow: 0 0 0 2px rgba(38, 166, 154, 0.25);
    }
  }

  .input-ant-customized-error-mess {
    color: rgb(255, 77, 79);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
    height: 22px;
  }

  .input-ant-customized-error {
    border-color: rgb(255, 77, 79);

    &:hover {
      border-color: rgb(255, 77, 79) !important;
    }

    &:focus {
      border-color: rgb(255, 77, 79) !important;
      box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.15);
    }
  }
}
