body {
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

.ant-modal-root {
  p {
    margin: 0px;
  }
  .ant-modal {
    padding: 0px;
  }
}

.container-app {
  width: 100vw;
  height: 100vh;
}
